      * {
          box-sizing: border-box;
          font-family: Hind Siliguri;
      }

      body {
          background-color: #f4f4f4;

      }

      .product-container {
          max-width: 1200px;
          margin: auto;
          background: #fff;
          display: flex;
          gap: 10px;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      /* ইমেজ সেকশন স্টাইল */
      .image-section {
          flex: 1;
      }

      .main-image img {
          width: 100%;
          border-radius: 0px;
          /* border: 1px solid #ddd; */
      }

      .thumbnail-gallery {
          display: flex;
          margin-top: 15px;
          gap: 10px;
          padding-left: 8px;

      }

      .thumbnail {
          width: 80px;
          height: 80px;
          border: 1px solid #ddd;
          cursor: pointer;
          transition: 0.3s;
          -webkit-tap-highlight-color: transparent;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }

      .thumbnail:hover {
          border-color: #f57224;
      }



      .product-details {
          flex: 1 1 500px;
          padding: 40px;
      }

      .product-title {
          font-size: 20px;
          color: black;
          /* উজ্জ্বল নীল শিরোনাম */
          /* margin-bottom: 10px; */
          font-weight: 600;
          margin-top: 0px;
          margin-bottom: 5px;
      }

      .product-price {
          font-size: 20px;
          color: #EF5E00;
          margin-top: 5px;
          margin-bottom: 15px;
          font-family: Arial;
          /* লাল রং দিয়ে দাম হাইলাইট */

          font-weight: 700;
      }

      .old-price {
          font-size: 20px;
          color: #999;
          text-decoration: line-through;
          /* পুরনো দাম কেটে দেওয়া */
          margin-left: 10px;
          font-weight: 400;
      }

      .product-rating {
          margin-bottom: 20px;
          color: #ffc107;
          /* তারা চিহ্নের রং হলুদ */
          font-size: 1.1em;
          margin-bottom: 0px;
      }


      .product-short-description {
          margin-bottom: 25px;
          border-left: 4px solid #EF5E00;
          padding-left: 15px;
          font-style:normal;
          color: #000000;
          font-size: 18px;
      }

      .section-heading {
          font-size: 1.4em;
          color: #333;
          margin-top: 20px;
          margin-bottom: 10px;
          border-bottom: 2px solid #eee;
          padding-bottom: 5px;
      }

      .features-list {
          list-style-type: none;
          padding-left: 0;
          margin-bottom: 30px;
      }

      .features-list li {
          padding: 8px 0;
          border-bottom: 1px dotted #eee;
          font-size: 18px;
          font-weight: 400;
      }

      .buy-button {
          background-color: #25D366;
          cursor: pointer;
          transition: background-color 0.30s, color 0.30s, box-shadow 0.3s, transform 0.3s ease-in-out;
          color: white;
          font-family: Hind Siliguri;
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          /* হোয়াটসঅ্যাপের সিগনেচার কালার */
          padding: 10px 12px;
          font-size: 18px;
          font-weight: 600;
          border-radius: 50px;
          gap: 8px;
          margin-bottom: 20px;
       
      }

      .buy-button:hover {
          background-color: #1FB255;
          /* transform: translateY(-2px); */
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
          transform: scale(1.02);
      }

      .buy-button:active {
          opacity: 0.70;
      }

      .product-long-description {
          margin-top: 20px;
          text-align: justify;
          font-weight: 500;
      }

      a,
      button,
      img,
      .clickable {
          outline: none;
      }

      .add-to-cart-button {
          margin-top: 10px;
      }

      .product-image,
      .product-details {
          flex-basis: 100%;
          padding: 10px;
      }

      .product-title {
          font-size: 1.8em;
      }

      .product-price {
          font-size: 1.5em;
      }

      .badge {
            display: inline-block;
            background: #6E64C5;
            color: white;
            padding: 0.25rem 0.75rem;
            border-radius: 20px;
            font-size: 10px;
            margin-bottom: 1rem;
        }

       


      /* মোবাইল রেসপনসিভ */
      @media (max-width: 768px) {
          .product-container {
              flex-direction: column;
              margin: 0px;

          }

          .thumbnail {
              height: 66px;
              width: 66px;

          }

      }